@(rows: List[Dashboard.ReportRow], caption: Option[String] = None)

<table>
	<caption>@caption Total PRs: @rows.size</caption>
	<tr>
		<th>Title</th>
		<th><a href="@routes.Dashboard.break("milestone")">Milestone</a></th>
		<th><a href="@routes.Dashboard.break("asignee")">Asignee</a></th>
		<th><a href="@routes.Dashboard.break("cla")">Cla Signed</a></th>
		<th><a href="@routes.Dashboard.break("reviewed")">Reviewed</a></th>
	</tr>
	@for(row <- rows) {
		<tr>
			<td><a href="https://github.com/scala/scala/pull/@row.pr.number" target="_blank">@row.pr.title</a></td>
			<td>@row.issue.milestone.map(_.title).getOrElse("No Milestone")</td>
			<td>@row.issue.assignee.map(_.login).getOrElse("No Asignee")</td>
			<td>@row.cla</td>
			<td>@row.reviewed</td>
		</tr>
	}
</table>
