language: scala
script:
  - sbt ++$TRAVIS_SCALA_VERSION compile
scala:
  - 2.11.12
dist: trusty
jdk:
  - openjdk8
notifications:
  email:
    - seth.tisue@lightbend.com
cache:
  directories:
  - $HOME/.ivy2/
  - $HOME/.sbt/cache/
  - $HOME/.sbt/boot/
  - $HOME/.sbt/launchers/
env:
  global:
    - GIT_SSH=.travis/ssh_scabot
after_success:
  - openssl aes-256-cbc -K $encrypted_1e8a2655862c_key -iv $encrypted_1e8a2655862c_iv -in .travis/scabot.pem.enc -out .travis/scabot.pem -d && git push --force scabot@scala-ci.typesafe.com:/home/scabot/scabot main:main

before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
